
<h1>All Blogs Here</h1>


<% if @blogs.any? %>
  <div class="card-container">
    <% @blogs.each do |blog| %>
      <div class="card">
        <h3><%= link_to blog.title, blog_path(blog) %></h3>
        <p class="content"><%= blog.content %></p>
      </div>
    <% end %>
  </div>
<% else %>
  <p>No blog posts available.</p>
<% end %>


<div class = "create">
<p><%= link_to 'Create a new blog post', blog_new_path %></p>
</div>
